.btn:active { 
    transform: scale(0.97); 
}

.modal-content { 
    animation: pop 0.25s ease; 
}

@keyframes pop { 
    from { 
        transform: scale(0.7); 
        opacity: 0; 
    } to { 
        transform: scale(1); 
        opacity: 1; 
    } 
}