#shareModal.hidden {
     display: none; 
}

#shareModal { 
    position: fixed; 
    inset: 0; 
    background: rgba(0,0,0,0.6); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 2000; 
}

.modal-content { 
    background: white; 
    padding: 20px; 
    border-radius: 12px; 
    width: 90%; 
    max-width: 380px; 
    text-align: center; 
}

.share-buttons { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin: 15px 0; 
}

.btn { 
    padding: 12px; 
    border: none; 
    background: #733298; 
    color: white; 
    border-radius: 6px; 
    font-size: 16px; 
}

.close-btn { 
    background: #444; 
    color: white; 
    padding: 10px; 
    width: 100%; 
    margin-top: 10px; 
    border: none; 
    border-radius: 6px; 
}